/* Custom properties */

:root {

    --primary-gray: 0 0% 63%;
    --primary-black:  0 0% 0%;
    --primary-white: 0 0% 100%;
    --primary-dark-gray: 0 0% 27%;

    --ff-serif: 'Spartan', sans-serif;

    --fs-900: 9.375rem; 
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    --ff-500: 500;
    --ff-600: 600;
    --ff-700: 700;

}

/* Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    
}

h1,
h2,
h3,
p, 
figure,
picture {
    margin: 0;
}

ul,
li {
    list-style: none;
    text-decoration: none;
}

img,
picture {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    font-family: var(--ff-serif);
}

/* Utitlity classes */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding: 0 2em;
    max-width: 80rem;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 2em minmax(0,40rem) minmax(0,40rem) 2em;
}

/* Colours */

.bg-gray {
    background: hsl(var(--primary-gray));
}

.bg-dark-gray {
    background: hsl(var(--primary-dark-gray));
}

.bg-black {
    background: hsl(var(--primary-black));
}

.bg-white {
    background: hsl(var(--primary-white));
}

/* Fonts */

.text-black {
    color: hsl(var(--primary-black));
}

.text-gray {
    color: hsl(var(--primary-gray));
}

.text-dark-gray {
    color: hsl(var(--primary-dark-gray));
}

.text-white {
    color: hsl(var(--primary-white));
}


.letter-spacing-1 {
    letter-spacing: 5px;
}

.letter-spacing-2 {
    letter-spacing: 15px;
}

.letter-spacing-3 {
    letter-spacing: 25px;
}

.uppercase {
    text-transform: uppercase;
}

.ff-500 {
    font-weight: 500;
}

.ff-600 {
    font-weight: 600;
}

.ff-700 {
    font-weight: 700;
}

/* navigation */

.top-nav {
    padding: 2em 0 0 ;
}

/* hide bigger screen navigation */

.desk-nav {
    display: none;
}

.desk-logo {
    display: none;
}
/* ---- */

.hamburger-icon {
    
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 20px;
}

.logo {
    margin: 0 auto;
}


.nav-list {
    
    display: none;
    background: hsl(var(--primary-white));
    position: absolute;
    top: 0;
    right: 0;
    padding: 3em 5em;
    opacity: 0;
}

.nav-link {

    text-decoration: none;
    color: hsl(var(--primary-black));
    padding: 0 5px 0;

}

.close-icon {
    margin-right: 15px;
}


/* Hero section */

.hero-bg {
    background-image: url(/images/mobile-image-hero-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    height: 45vh;
    
}

.arrow-box {
    bottom: 0;
    right: 0;
    padding: 23px 35px;
    position: absolute;
    cursor: pointer;
}

.navButton-1 {
    margin-right: 30px;
}

.hero-box {
    font-size: var(--fs-200);
    margin: 4em 0 3em;
}

.hero_title {
    margin: 0 0 1em;
}

.hero_text {
    margin: 0 0 2em;
}

.text-accent {
    margin-right: 3em;
}

.cta {
    display: flex;
    margin: 4em 0 4em;
}

/* main section */

.main {
    display: block;
    flex-direction: column;
}

.main_title {
    font-size: var(--fs-200);
    margin: 4em 0 1em;
}

.main_text {
    font-size: var(--fs-200);
    margin: 0 0 4em;
}

.image-dark {
    width: 100%;
}

.image-light {
    width: 100%;
}

/* Desktop and bigger screens */

@media (min-width:900px){

    /* navigation */
    
    /* hide mobile logo/hamburger menu */
    .hamburger-icon {
        display: none;
    }   

    .logo {
        display: none;
    }

    /* navigation bigger screens */
    .desk-nav {
        display: flex;
        align-items: flex-end;
        margin-left: 13em;
    }

    .desk-nav li {
        margin: 3em 1em 0;
    }

    .desk-logo {
        display: block;
        position: absolute;
        left: 5em;
        top: 5.1em;
    }

    

}   